.footer{
    width: 100%;
    background-color: #191919;
    min-height: 500px;
    position: relative;
    color: #939393;
    padding: 50px 0 0 0;
}

.footer-bottom{
    min-height: 80px;
    background-color: #141414;
    position: absolute;
    bottom: 0px;
}
.footer__logo{
    display: inline-block;
    margin: 0 0 20px 0;
}

.footer__title{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
}

.footer__about{
    border-right: 1px $gray-800 solid;
}

.footer__menu{
    border-right: 1px $gray-800 solid;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a{
        color: #939393;
        margin-bottom:10px;
        display: inline-block;
    }
    a:hover{
        color: $red;
        text-transform: none;
        text-decoration: none;
    }
}

.footer__address{
    border-right: 1px $gray-800 solid;
}

.footer-bottom__copyright{
    font-size: 11px;
    padding: 30px 0 0 0;
}

.footer--makeitspace{
    padding: 0 35px 0 35px;
}

.footer__gallery{
    width: 300px;
    padding: 0;
    margin: 0;
    list-style: none;

    li{
        float: left;
        padding: 3px;
    }

    li img{
        width: 80px;
        height: 80px;
    }
}

