/* Animation for fading slides */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slider-container {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.slider-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.slider-slide img {
max-width: 100%;
width: 100%;
max-height: 100%;
height: 100%;
}

.slider-slide h2 {
font-size: 4em;
font-weight: bold;
color:#f8f9fa;
}

.slider-slide .h2-pos-1 {
    position: absolute;
    right: 10%;
    top: 15%;
    width: 35%;
}

.slider-slide .h2-pos-2 {
    position: absolute;
    left: 10%;
    top: 50%;
    width: 35%;
}

.slider-slide .h2-pos-3 {
    position: absolute;
    left: 10%;
    top: 15%;
    width: 35%;
}



.slider-slide-hidden {
display: none;
}

.slider-slide-active {
display: block;
animation: fadeIn 0.85s ease-in-out;
}

.slider-controlls {
    position: absolute;
    bottom: 20px;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.control-dots{
    list-style: none;
    li{
        color: white;
        font-size: 12px;
        float: left;
        padding: 5px;

        a{
            color:white;
        }
        a:hover{
            color: antiquewhite;
        }
    }
}


