// GENERAL VARS
$general-text-color:#090a3e;
$footer-text-color:#9d9d9c;


$prime-color:#090b3e;
$second-color: #66c8f7;
$third-color:#3cc9ff /*#00A4F1*/;
$fourth-color: #E8E8E8;
$placeholder-txt-color: #999;
$fifth-color: #060239;
$sixth-color: #001489;
$base-color: #FFF;
$warrning-color: #faa732;
$danger-color: #da4f49;
$success-color: #5bb75b;
$border-thick: 5px;
$border-med: 3px;
$border-thin: 1px;

// Fonts
$font-sans-serif: Roboto-L, sans-serif;
$font-roboto-b: Roboto-B, sans-serif;
$font-roboto: Roboto, sans-serif;
$font-weight-light: 300;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-serif: Georgia, "Times New Roman", Times, serif;
$logo-accent-color: #2489CE;